@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

#family-tree {
    .person-group {
        @apply flex flex-row p-1;

        .person {
            @apply rounded-md cursor-pointer text-center grid place-content-center h-auto w-20 px-4 py-4 break-words;
            @apply bg-no-repeat bg-center bg-cover;
            background-image: url("/images/old-paper-piece.png");

            .image {
                @apply w-12 h-12 rounded-full mx-auto mb-4 hidden;
            }

            .age {
                @apply hidden;
            }

            .name {
                @apply font-semibold text-gray-600 font-Mukta break-words;
            }
        }

        &.--married {
            .person {
                position: relative;

                &:nth-child(odd) {
                    @apply mr-2;
                }

                // wedding connector
                &:nth-child(odd)::after {
                    content: "";
                    height: 2rem;
                    width: 1.5rem;
                    background-image: url(/images/wedding-symbol.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -0.25rem;
                    top: 50%;
                    transform: translate(50%, -50%);
                    z-index: 2;
                }
            }
        }
    }
}
